td, th {
	border: 3px solid white;
  color:white;  
  font-style: italic;                   
}
  
th{
  font-size: large;
}

h1{
  font-family: 'Indie Flower', cursive;
  font-style: italic;
  text-align: center;
  color:black;
}

tr{
  font-family: 'Acme', cursive;
  font-size:large;
}
 
planet_img{
  width:90px;
  height:90px;
}

#planets{
  margin-left:auto;
  margin-right:auto;
}
  
td_title{
  text-align: center;
}
 
body{
  background-color: #685376;
}

table{
  background-color: white
  border-collapse:collapse;
  text-align: center;
}

